<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TrungTrang.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="host" value="http://bk.trungtrang.com:8080/"/>
    <!--<add key="host" value="http://localhost:8080/"/>-->
  </appSettings>
  <userSettings>
    <TrungTrang.Properties.Settings>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="token" serializeAs="String">
        <value />
      </setting>
      <setting name="host" serializeAs="String">
        <value />
      </setting>
    </TrungTrang.Properties.Settings>
  </userSettings>
</configuration>
